*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.container{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    background: #f0f2f0;
    padding: 0 15px;
}
.facebook-page{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    max-width: 1000px;
    width: 100%;
}
.facebook-page.text{
    margin-bottom: 90px;
}
.facebook-page h1{
    font-size: 4 rem;
    color: #1877f2;
    margin-bottom: 10px;
}
.facebook-page p{
    font-size: 1,75rem;
}

 


form{
    display: flex;
    flex-direction: ;
    max-width: 400px;
    width: 100%;
    background: #f0f2f0;
    padding: 20 px;
    border-radius: 0 2px 4px rgba(0, 0, 0, 0,1),
                   0 8px 16px rgba(0, 0, 0, 0,1);
}
form input{
    height:55 px  ;
    width: 100%;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 15px;
}
form input:focus{
    outline: none;
    border-color: #1877f2;
}
::placeholder{
    color: #777;
     font-size: 1.063rem;
}

.login-link {
display: flex;
flex-direction: column;
text-align: center;
gap: 15px;
  
}
.login-link .login-btn{
    padding: 15px 0;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background: #1877f2;
    border-radius: 6px;
    color: #f0f2f0;
    cursor: pointer;
transition: 0,2s ease;
}

.login-link .login-btn:hover{
    background: #0d65d9
}

form a {
    text-decoration: none;

}
.login-link.forgotpassword{
    color: #1877f2;
    font-size: 0,875rem;
     
}

.login-link.forgotpassword:hover {
    text-decoration: underline;
}